<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>ECharts实例</title>
    <script src="echarts.js"></script>
</head>

<body>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
        }
    </style>
    <div id="main" style="width:100%;height:100%;" />
    <script type="text/javascript">
        myChart = echarts.init(document.getElementById('main'), opts = { useDirtyRect: true });
        window.onresize = function () {
            myChart.resize();
        };

        function UpdateData(data) {
            // console.log(JSON.stringify(data));

            // 图表配置对象
            option = {
                // 图表标题
                title: {
                    text: data.StockName + '(' + data.StockCode + ")",
                    textStyle: {
                        color: '#ccc'
                    }
                },
                // 光标位置提示
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    },
                    position: function (pos, params, el, elRect, size) {
                        const obj = {
                            top: 10
                        };
                        obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                        return obj;
                    }
                },
                // 指标图例
                legend: {
                    data: data.LegendData,
                    textStyle: {
                        color: '#ccc'
                    }
                },
                // 数据缩放
                dataZoom: [
                    {
                        bottom: "3%",
                        type: 'slider',
                        textStyle: {
                            color: '#8392A5'
                        },
                        dataBackground: {
                            areaStyle: {
                                color: '#8392A5'
                            },
                            lineStyle: {
                                opacity: 0.8,
                                color: '#8392A5'
                            }
                        },
                        xAxisIndex: 'all',
                    },
                    {
                        type: 'inside',
                        xAxisIndex: 'all',
                    }
                ],
                // 坐标轴同步
                axisPointer: {
                    link: { xAxisIndex: 'all' },
                    label: {
                        backgroundColor: '#777'
                    }
                },
                // 数据源
                dataset: [
                    {
                        dimensions: data.Dimension,
                        source: data.Data
                    },
                ],
                // 坐标系网格位置
                grid: [
                    //{
                    //    left: '3%',
                    //    right: '4%',
                    //    bottom: '3%',
                    //    containLabel: true
                    //}
                ],
                // 坐标轴
                xAxis: [
                    //{
                    //    type: 'category'
                    //}
                ],
                yAxis: [
                    //{
                    //    type: 'value'
                    //}
                ],
                // 图表
                series: [
                    // {
                    //    name: '股价',
                    //    type: 'candlestick',
                    //    encode: {
                    //        x: 'datetime',
                    //        y: ['open', 'close', 'high', 'low']
                    //    }
                    //}
                ],
            };

            // XY坐标轴和主副图网格添加
            AddXYAxisAndGrid(option, data);
            // 图表蜡烛图添加
            AddCandleStickSeries(option, data);
            // 图表技术指标添加
            AddAdditionSeries(option, data);
            // replaceMerge删除更新中不存在的线
            option && myChart.setOption(option, { replaceMerge: ['series'] });
        }

        // XY坐标轴添加
        function AddXYAxisAndGrid(option, data) {
            // 生成GridsCount个坐标轴网格
            switch (data.GridsCount) {
                case 1:
                    option.grid.push({ left: '3%', right: '4%', top: '40', bottom: '13%', containLabel: 'true' });
                    break;
                case 2:
                    option.grid.push({ left: '5%', right: '4%', top: '40', height: '64%' });
                    option.grid.push({ left: '5%', right: '4%', bottom: '10%', height: '13%' });
                    break;
                case 3:
                    option.grid.push({ left: '5%', right: '4%', top: '40', height: '58%' });
                    option.grid.push({ left: '5%', right: '4%', top: '69%', height: '10%' });
                    option.grid.push({ left: '5%', right: '4%', top: '81%', height: '10%' });
                    break;
                default:
                    throw new Error("data.GridsCount=" + data.GridsCount);
            }

            // 生成GridsCount个XYAxis坐标轴
            for (var i = 0; i < data.GridsCount; i++) {
                var xAxis = {
                    gridIndex: i,
                    type: 'category',
                    show: i == 0 ? true : false,
                    axisLabel: { show: i == 0 ? true : false },
                    axisLine: { show: true },
                    axisTick: { show: i == 0 ? true : false },
                }
                var yAxis = {
                    gridIndex: i,
                    type: 'value',
                    scale: true,
                    axisLabel: { show: i == 0 ? true : false },
                    axisLine: { show: false },
                    axisTick: { show: i == 0 ? true : false },
                    splitLine: {
                        show: i == 0 ? true : false,
                        lineStyle: {
                            color: "rgba(133, 133, 133, 1)"
                        }
                    },
                    splitArea: {
                        show: i == 0 ? true : false,
                    },
                }
                option.xAxis.push(xAxis);
                option.yAxis.push(yAxis);
            }
        }

        // 图表蜡烛图添加
        function AddCandleStickSeries(option, data) {
            var candle_stick_series =
            {
                name: '股价',
                type: 'candlestick',
                encode: {
                    x: 'datetime',
                    y: ['open', 'close', 'high', 'low']
                },
                large: true,
            }
            option.series.push(candle_stick_series);
        }

        // 图表技术指标添加
        function AddAdditionSeries(option, data) {
            // 0为股价数据
            for (var i = 1; i < data.LegendData.length; i++) {
                var addition_series =
                {
                    name: data.LegendData[i],
                    type: data.LegendDataDisplayType[i],
                    lineStyle: {
                        width: 1
                    },
                    symbol: "none",
                    encode: {
                        x: 'datetime',
                        y: data.LegendDataDimensionIndex[i]
                    },
                    xAxisIndex: data.LegendDataOnGridIndex[i],
                    yAxisIndex: data.LegendDataOnGridIndex[i],
                    large: true,
                    sampling: 'lttb',
                };
                option.series.push(addition_series);
            }
        }
    </script>
</body>

</html>