<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>ECharts实例</title>
    <script src="echarts.js"></script>
</head>
<body>
    <style type="text/css">
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
        }
    </style>
    <div id="main" style="width:100%;height:100%;" />
    <script type="text/javascript">
        function InitCodeData(data) {
            myChart = echarts.init(document.getElementById('main'));
            window.onresize = function () {
                myChart.resize();
            };
            option = {
                // 图表标题
                title: {
                    text: data.StockName + '(' + data.StockCode + ")",
                    textStyle: {
                        color: '#ccc'
                    }
                },
                // 光标位置提示
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                // 坐标系网格位置
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                // 指标图例
                legend: {
                    data: ['股价', 'MA5', 'MA20'],
                    textStyle: {
                        color: '#ccc'
                    }
                },
                // 坐标轴
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.DateTime
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                // 数据源
                series: [
                    {
                        name: '股价',
                        type: 'candlestick',
                        data: data.OHLC
                    },
                    {
                        name: 'MA5',
                        type: 'line',
                        data: data.MA5
                    },
                    {
                        name: 'MA20',
                        type: 'line',
                        data: data.MA20
                    }
                ]
            };
            option && myChart.setOption(option);
        }
    </script>
</body>
</html>
