<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>ECharts实例</title>
    <script src="echarts.js"></script>
</head>

<body>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
        }
    </style>
    <div id="main" style="width:100%;height:100%;" />
    <script type="text/javascript">
        function InitCodeData(data) {
            console.log(JSON.stringify(data));

            myChart = echarts.init(document.getElementById('main'));
            window.onresize = function () {
                myChart.resize();
            };
            option = {
                // 图表标题
                title: {
                    text: data.StockName + '(' + data.StockCode + ")",
                    textStyle: {
                        color: '#ccc'
                    }
                },
                // 光标位置提示
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                // 坐标系网格位置
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                // 指标图例
                /*legend: {
                    data: ['股价', 'MA5', 'MA20'],
                    textStyle: {
                        color: '#ccc'
                    }
                },
                */
                // 数据缩放
                dataZoom: [
                    {
                        type: 'slider',
                        textStyle: {
                            color: '#8392A5'
                        },
                        handleIcon:
                            'path://M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        dataBackground: {
                            areaStyle: {
                                color: '#8392A5'
                            },
                            lineStyle: {
                                opacity: 0.8,
                                color: '#8392A5'
                            }
                        },
                        brushSelect: true
                    },
                    {
                        type: 'inside'
                    }
                ],
                // 数据源
                dataset: [
                    {
                        dimensions: data.Dimension,
                        source: data.Data
                    },
                ],
                // 坐标轴
                xAxis: [
                    {
                        type: 'category'
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                // 图表
                series: [
                    {
                        type: 'candlestick',
                        encode: {
                            x: 'datetime',
                            y: ['open', 'close', 'high', 'low']
                        }
                    },
                    /* {
                         name: 'MA5',
                         type: 'line',
                         lineStyle: {
                             width: 1
                         },
                         symbol: "none",
                         datasetIndex: 0,
                         encode: {
                             x: 'DateTime',
                             y: 'MA5'
                         },
                     },
                     {
                         name: 'MA20',
                         type: 'line',
                         lineStyle: {
                             width: 1
                         },
                         symbol: "none",
                         datasetIndex: 0,
                         encode: {
                             x: 'DateTime',
                             y: 'MA20'
                         },
                     }
                     */
                ]
            };
            option && myChart.setOption(option);
        }
    </script>
</body>

</html>